@model AccountCreateVM

@{
    //var userRoles = ViewBag.Role;
}


<div class="col-lg-12" style="border: 2px solid #424351; padding: 1rem 3rem; border-radius: 7px;">
    <form method="post" enctype="multipart/form-data" class="pt-3 ">
        <div class="m-3 d-inline-block col-lg-12">
            <div class="form-group">
                <label asp-for="Name">Name</label>
                <div class="input-group">
                    <div class="input-group-prepend bg-transparent">
                        <span class="input-group-text bg-transparent border-right-0">
                            <i class="mdi mdi-account-outline text-primary"></i>
                        </span>
                    </div>
                    <input name="Name" asp-for="Name" class="form-control form-control-lg border-left-0">
                </div>
            </div>
            <div class="form-group">
                <label asp-for="Surname">Surname</label>
                <div class="input-group">
                    <div class="input-group-prepend bg-transparent">
                        <span class="input-group-text bg-transparent border-right-0">
                            <i class="mdi mdi-account-outline text-primary"></i>
                        </span>
                    </div>
                    <input name="Surname" asp-for="Surname" class="form-control form-control-lg border-left-0">
                </div>
            </div>
            <div class="form-group">
                <label asp-for="FatherName">Father Name</label>
                <div class="input-group">
                    <div class="input-group-prepend bg-transparent">
                        <span class="input-group-text bg-transparent border-right-0">
                            <i class="mdi mdi-account-outline text-primary"></i>
                        </span>
                    </div>
                    <input asp-for="FatherName" name="FatherName" class="form-control form-control-lg border-left-0">
                </div>
            </div>
            <div class="form-group">
                <label asp-for="Username">Username</label>
                <div class="input-group">
                    <div class="input-group-prepend bg-transparent">
                        <span class="input-group-text bg-transparent border-right-0">
                            <i class="mdi mdi-account-outline text-primary"></i>
                        </span>
                    </div>
                    <input asp-for="Username" class="form-control form-control-lg border-left-0">
                </div>
            </div>
            <div class="form-group">
                <label asp-for="ImageFile">User Image File </label>
                <input type="file" name="img[]" class="file-upload-default">
                <div class="input-group col-xs-12">
                    <input asp-for="ImageFile" type="file" class="form-control file-upload-info" placeholder="Upload Image">
                </div>
            </div>
            <div class="form-group">
                <label asp-for="Wage">Wage</label>
                <div class="input-group">
                    <div class="input-group-prepend bg-transparent">
                        <span class="input-group-text bg-transparent border-right-0">
                            <i class="mdi mdi-account-outline text-primary"></i>
                        </span>
                    </div>
                    <input asp-for="Wage" class="form-control form-control-lg border-left-0">
                </div>
            </div>

            <div class="form-group">
                <label asp-for="Email">Email</label>
                <div class="input-group">
                    <div class="input-group-prepend bg-transparent">
                        <span class="input-group-text bg-transparent border-right-0">
                            <i class="mdi mdi-email-outline text-primary"></i>
                        </span>
                    </div>
                    <input asp-for="Email" class="form-control form-control-lg border-left-0">
                </div>
            </div>
            <div class="form-group">
                <label asp-for="RoleName">Vezife</label>
                <select asp-for="RoleName" class="form-control form-control-lg">
                    @if (User.Identity.IsAuthenticated)
                    {
                        if(User.IsInRole("SuperUser"))
                        {
                            <option value="Direktor">Direktor</option>
                            <option value="Hr">HR</option>
                            <option value="Anbardar">Anbardar</option>
                            <option value="Menecer">Menecer</option>
                            <option value="Idareci">İdarəçi</option>
                            <option value="Satici">Satıcı</option>
                            <option value="SuperUser">Super User</option>
                            
                        }

                        if (User.IsInRole("Direktor"))
                        {
                            <option value="Direktor">Direktor</option>
                            <option value="Hr">HR</option>
                            <option value="Anbardar">Anbardar</option>
                            <option value="Menecer">Menecer</option>
                            <option value="Idareci">İdarəçi</option>
                            <option value="Satici">Satıcı</option>
                        }

                        if (User.IsInRole("Hr"))
                        {
                            <option value="Hr">HR</option>
                            <option value="Anbardar">Anbardar</option>
                            <option value="Menecer">Menecer</option>
                            <option value="Idareci">İdarəçi</option>
                            <option value="Satici">Satıcı</option>
                        }

                    }



                </select>
            </div>
            <div class="form-group">
                <label asp-for="Password">Password</label>
                <div class="input-group">
                    <div class="input-group-prepend bg-transparent">
                        <span class="input-group-text bg-transparent border-right-0">
                            <i class="mdi mdi-lock-outline text-primary"></i>
                        </span>
                    </div>
                    <input asp-for="Password" placeholder="Password" class="form-control form-control-lg border-left-0">
                </div>
            </div>
            <div class="form-group">
                <label asp-for="ConfirmPassword"></label>
                <div class="input-group">
                    <div class="input-group-prepend bg-transparent">
                        <span class="input-group-text bg-transparent border-right-0">
                            <i class="mdi mdi-lock-outline text-primary"></i>
                        </span>
                    </div>
                    <input asp-for="ConfirmPassword" id="exampleInputPassword" placeholder="Password" class="form-control form-control-lg border-left-0">
                </div>
            </div>
        </div>
        <div class="m-3  d-inline-block ">
            <button type="submit" class="btn btn-primary btn-lg font-weight-medium auth-form-btn">Create New User</button>
        </div>
    </form>
</div>