@model SearchAdd_VM

@{
    ViewData["Title"] = "Sale";

}

<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Add Sale Product</h4>
                <form method="post" class="nav-link mt-2 mt-md-0 d-none d-lg-flex search">
                    <input asp-for="Value" class="form-control">
                    <button type="submit">Add</button>
                </form>
                </div>
            </div>
        </div>
    </div>
</div>
