@model Musteri

@{

}

<div class="col-12 grid-margin">
    <div class="card">
        <div class="card-body">
            <h4 class="card-title">Credit Sale Product</h4>
            <form method="post" class="form-sample">
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group row">
                            <label asp-for="Name" class="col-sm-3 col-form-label"></label>
                            <div class="col-sm-9">
                                <input asp-for="Name"  class="form-control">
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group row">
                            <label asp-for="Surname" class="col-sm-3 col-form-label"></label>
                            <div class="col-sm-9">
                                <input asp-for="Surname"  class="form-control">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group row">
                            <label asp-for="FatherName" class="col-sm-3 col-form-label"></label>
                            <div class="col-sm-9">
                                <input asp-for="FatherName"  class="form-control">
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group row">
                            <label asp-for="Tel" class="col-sm-3 col-form-label"></label>
                            <div class="col-sm-9">
                                <input asp-for="Tel"  class="form-control">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group row">
                            <label asp-for="HomeTel" class="col-sm-3 col-form-label"></label>
                            <div class="col-sm-9">
                                <input asp-for="HomeTel"  class="form-control">
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group row">
                            <label asp-for="ZaminTel" class="col-sm-3 col-form-label"></label>
                            <div class="col-sm-9">
                                <input asp-for="ZaminTel"  class="form-control">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group row">
                            <label asp-for="Is_Yeri" class="col-sm-3 col-form-label"></label>
                            <div class="col-sm-9">
                                <input asp-for="Is_Yeri"  class="form-control">
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group row">
                            <label asp-for="Is_Yerinin_Adi" class="col-sm-3 col-form-label"></label>
                            <div class="col-sm-9">
                                <input asp-for="Is_Yerinin_Adi"  class="form-control">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group row">
                            <label asp-for="Is_Staji" class="col-sm-3 col-form-label"></label>
                            <div class="col-sm-9">
                                <input asp-for="Is_Staji"  class="form-control">
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group row">
                            <label asp-for="Kredit_Muddeti" class="col-sm-3 col-form-label"></label>
                            <div class="col-sm-9">
                                <input asp-for="Kredit_Muddeti"  class="form-control">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group row">
                            <label asp-for="Kredit_Faizi" class="col-sm-3 col-form-label"></label>
                            <div class="col-sm-9">
                                <input asp-for="Kredit_Faizi"  class="form-control">
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group row">
                            <label asp-for="OdemeTarixi" class="col-sm-3 col-form-label"></label>
                            <div class="col-sm-9">
                                <input asp-for="OdemeTarixi"  class="form-control">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group row">
                            <label asp-for="IlkinOdenis" class="col-sm-3 col-form-label"></label>
                            <div class="col-sm-9">
                                <input asp-for="IlkinOdenis" class="form-control">
                            </div>
                        </div>
                    </div>
                </div>

                <button type="submit" class="btn btn-primary btn-lg font-weight-medium auth-form-btn">Sale</button>
                <a class="btn btn-primary btn-lg font-weight-medium auth-form-btn" asp-action="addproductsale">Back</a>
            </form>
        </div>
    </div>
</div>